### Logs
logs
*.log
.log.*

### Runtime data
pids
*.pid
*.seed

### Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

### Users Environment Variables
.lock-wscript

### virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

###sublime
*.sublime-*

### OSX BS
*.DS_Store

### misc
.idea

### generated code
*.gen.go
*.gen.json
*.gen.html